.annuaire {
    height: 200px;
    background-color: saddlebrown;
    border: solid 0px black;
    margin-left: 10px;
    margin-bottom: 40px;
    margin-right: 20px;
}

.personne{
    color: blanchedalmond;
    height: 100px;
    margin-left: 80px;
    display: flex;
    align-items: flex-end;
}

.supprimer {
    margin-right: 40px;
    height: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

input {
width: 15%;
height: 50px;
background-color: darkgreen;
display: flex;
justify-content: center;
align-items: center;
color: blanchedalmond;
}