<h3>Contenu de l'annuaire</h3>
<div class="annuaire">
    <div class="personne">
        0 - Gaston LAGAFFE <br>
        12345
    </div>
    <div class="supprimer">
        <input type="reset" value="Supprimer">
    </div>
</div>
<div class="annuaire">
    <div class="personne">1 - Jules DE CHEZ SMITH</div>
    <div class="supprimer">
        <input type="reset" value="Supprimer">
    </div>
</div>
<div class="annuaire">
    <div class="personne">
        2 - Mademoiselle JEANNE <br>
        674532126
    </div>
    <div class="supprimer">
        <input type="reset" value="Supprimer">
    </div>
</div>