<!-- <nav>
<a routerLink="home">Acceuil</a> 
| <a routerLink="personne-ajouter">Nouvelle personne</a>
| <a routerLink="personne-lister">Toutes les personnes</a>
| <a routerLink="contact">Contact</a>
| <a routerLink="apropos">A propos</a>
</nav>
-->
<nav>
    | <button mat-raised-button routerLink="home">Accueil</button> 
    | <button mat-raised-button routerLink="personne-ajouter">Nouvelle personne</button>
    | <button mat-raised-button routerLink="personne-lister">Toutes les personnes</button>
    | <button mat-raised-button routerLink="contact">Contact</button>
    | <button mat-raised-button routerLink="apropos">A propos</button>   
</nav>
<!--

<a mat-button routerLink="home">Accueil</a>
| <a mat-button routerLink="ajouter-personne"> Nouvelle personne</a>
| <a mat-button routerLink="lister-personne">Toutes les personnes</a>
| <a mat-button routerLink="contact">Contact</a>
| <a mat-button routerLink="apropos">A propos</a>

-->