div {
    margin: 0;
    padding: 0;
  }
  
  
  input[type=text] {
    border: none;
    border-bottom: 2px solid rgb(84, 150, 84);
    background-color: #e3e9ee;
    outline: none;
  }
  .matInput {
    color: black;
  }
  
  .label {
    color: black;
    background-color: cadetblue;
  }
  
  button {
    position: relative;
    top: 80px;
    margin-left: 20px;
    width: 90%;
  }
  
  button:hover {
    background-color: #042e66;
  }
  
  .info {
    font-size: x-small;
    text-align: right;
  }
  
  input:invalid {
    border-bottom: 2px solid rgb(207, 86, 86);
  }
  
  .alert {
    margin: 0;
    padding: 0;
    font-size: x-small;
    text-align: left;
    color: darkgray;
  }
  
  .alert div {
    margin: 0;
    padding: 0;
  }
  
  .container {
    margin: 50px;
    background-color: #a1bcd3;
  }
  
  
  mat-form-field {
    background-color: #e3e9ee;
    margin: 20px;
  }
  
  .input-form {
    width: 90%;
  }

  .formOption {
    color: black;
    background-color: blanchedalmond;
  }