div {
    color: #3498db;
    }
    
    #logo {
    width: 4em;
    display: inline-block;
    vertical-align: middle;
    }
    
    h1 {
    vertical-align: middle;
    display: inline-block;
}

    